name: Build and test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm
      - name: Install
        run: npm ci
      - name: Check format
        run: npm run prettier:check
      - name: Run tests
        run: npm run test
      - name: Build
        run: npm run build
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Updates `./dist/*` files with latest changes
          file_pattern: dist/*
      - name: Behavior pack build
        run: gulp
